# Core dependencies (pinned for Coqui + Streamlit)
numpy==1.26.4
cython==3.1.4
scipy==1.15.3
torch==2.8.0
torchaudio==2.8.0
soundfile==0.13.1
librosa==0.11.0
scikit-learn==1.7.2
numba==0.62.1
inflect==7.5.0
tqdm==4.67.1
anyascii==0.3.3
pyyaml==6.0.3
fsspec==2025.9.0
aiohttp==3.12.15
packaging==25.0
mutagen==1.47.0

# Examples / API
flask==3.1.2

# Inference deps
pysbd==0.3.4

# Notebook deps
umap-learn==0.5.7
pandas==1.5.3

# Training deps
matplotlib==3.8.4

# Coqui stack
trainer==0.0.36
coqpit==0.0.17

# Chinese G2P deps
jieba==0.42.1
pypinyin==0.55.0

# Korean deps
hangul_romanize==0.1.0
jamo==0.4.1
nltk==3.9.1
g2pkk==0.1.2

# Gruut + supported langs
gruut[de,es,fr]==2.2.3

# Bangla deps
bangla==0.0.5
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7

# Tortoise / Bark / XTTS
einops==0.8.1
transformers==4.56.2
encodec==0.1.1
unidecode==1.4.0
num2words==0.5.14
spacy[ja]==3.8.7
